html,
body {
  min-height: 100%;
  position: relative;
}

.right {
  float: right;
}

.superscript {
  vertical-align: super;
  font-size: 0.6em;
}

ul {
  margin-bottom: 1em;
}

#page {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}

#page {
  padding: 2% 4%;
}

footer {
  margin: 2% 4%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  line-height: 1.8em;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, h1 a {
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid rgba(0, 50, 100, .2);
  padding-bottom: 0.5em;
  color: rgba(0, 0, 0, .6);
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

a:focus {
  outline-color: rgba(0, 50, 100, 0.4);
}

a:hover,
a:focus {
  color: rgba(160, 20, 0, 0.9);
  text-decoration: none;
}

a.action {
  display: inline-block;
  margin: 0 0.2em 0 0;
}

#page a.action:hover,
#page a.action:focus {
  margin: 0 0 0 0.2em;
}

a.action,
input[type=submit] {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border: none;
  transition: 0.2s;
  padding: 0.4em 0.8em;
}

/* Ugh! Browser input overrides */
input[type=submit] {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: none;
  transition: 0s;
  cursor: pointer;
  width: 100%;
}

a.action.delete {
  background-color: rgba(51, 0, 0, 0.4);
}

a.action.delete:hover,
a.action.delete:focus {
  background-color: rgba(51, 0, 0, 1);
}

.logo {
  font-family: 'Oswald', sans-serif;
}

label {
  cursor: pointer;
}

nav {
  margin-bottom: 1em;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(0, 50, 100, 0.2);
}

nav a {
  border: none;
}

nav h1 {
  font-size: 1em;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

nav h1 a {
  font-style: normal;
  border: none;
}

nav ul {
  flex-grow: 5;
  text-align: right;
  list-style-type: none;
  display: inline;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-right: 1em;
}

.home.index #welcome-treatment {
  text-align: center;
}

.home.index #welcome-treatment h1 {
  font-size: 3em;
  line-height: 1.4em;
  padding-bottom: 0;
}

.home.index #welcome-treatment #missions-happening {
  width: 100%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  direction: rtl;
  font-family: 'Over the Rainbow', sans-serif;
  color: rgba(0, 50, 100, 0.4);
  position: relative;
}

.term {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.flash {
  position: fixed;
  padding: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 2%;
  z-index: 8;
  text-align: center;
}

.subtext {
  font-size: 0.8em;
  opacity: 0.6;
}

section {
  margin-bottom: 4em;
}

.contrast {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
}

#mission-count {
  text-align: center;
  position: relative;
  overflow: hidden;
}

#mission-count h2 {
  font-size: 2em;
  line-height: 1.4em;
}

#mission-count-background {
  font-size: 2em;
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  position: absolute;
  top: -40px;
  right: -40px;
  left: -40px;
  bottom: -40px;
  text-align: center;
}

#mission-count-foreground {
  position: relative;
  z-index: 2;
  margin: 4px;
  padding: 2em 1em;
}

#content {
  margin-bottom: 4em;
}

#content:focus {
  outline: none;
}

footer {
  font-size: 0.8em;
  opacity: 0.6;
  border-top: 1px double rgba(0, 50, 100, 0.2);
}

.subnote {
  display: block;
  font-size: 0.9em;
  opacity: 0.6;
}


img#twitter-icon {
  height: 1.4em;
  margin: 0.6em;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

::selection {
  background: rgba(0, 50, 100, 0.15);
}
