ul#deliverables,
ul.requirements {
  list-style-type: none;
}

ul#deliverables {
  margin: 0;
  padding: 0;
}

ul#deliverables li {
  position: relative;
}

ul#deliverables li.deliverable {
}

ul#deliverables li.deliverable .toggle-expand {
  float: right;
  border: none;
}

ul#deliverables li.deliverable ul.requirements {
  min-height: 1em;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  margin-left: 1px;
}

ul#deliverables li.deliverable ul.requirements li {
  position: relative;
  padding-left: 1em;
}

ul#deliverables li.deliverable ul.requirements li .requirement-state {
  border: none;
  float: right;
  bottom: 0;
  right: 0;
  top: 0;
  width: 2em;
  text-align: center;
}

ul#deliverables .deliverable_handle,
ul#deliverables .requirement_handle {
  opacity: 0.4;
  cursor: move;
  display: block;
  width: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

ul#deliverables li.deliverable .timestop {
  padding-left: 1em;
}

.focus-area {
  padding-left: 2em;
  padding-right: 1em;
  position: relative;
  margin-top: 1px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.focus-area:focus {
  outline: none;
  background-color: rgba(0, 50, 100, 1) !important;
  /* background-color: rgba(166, 120, 3, 1) !important; */
}

.focus-area.selected:focus {
  background-color: rgba(166, 120, 3, 1) !important;
}

ul#deliverables .focus-area {
}

ul#deliverables .focus-area.add-requirement,
#page a.focus-area.add-deliverable {
  padding-left: 0;
}

ul#deliverables .add-requirement {
  margin-left: 1em;
  margin-top: 1px;
  display: block;
}

#page a.action.add-deliverable {
  display: block;
}

#participants {
  padding: 0;
}

.participant {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2em 1em;
  margin-bottom: 1px;
}

.participant a {
  float: right;
  border: none;
}
