.progress-created .progress-bar {
  background-color: rgba(255, 255, 255, 0.2);
}

.progress-started .progress-bar {
  background-color: rgba(166, 120, 3, 1);
}

.progress-completed .progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
}

.progress {
  padding: 0.2em;
  line-height: 1em;
  margin-bottom: 1px;
  position: relative;
}

.progress-bar {
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0%;
  min-width: 2%;
  z-index: 1;
}

.progress-description {
  position: relative;
  z-index: 2;
  font-size: 0.8em;
}
