.progress {
  padding: 0.2em;
  line-height: 1em;
  margin-bottom: 1px;
  position: relative;
}

.progress-bar {
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  min-width: 1%;
  z-index: 1;
}

.progress-description {
  position: relative;
  z-index: 2;
  font-size: 0.8em;
}
