.home.styleguide #swatches {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home.styleguide #swatches .swatch {
  flex-grow: 1;
}

.swatch {
  padding: 1em 2em;
  margin: 0.2em;
  text-align: center;
}

.colors {
  transition: 0.2s;
}

.colors.action {
  background-color: rgba(160, 40, 0, 0.6);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.colors.action:hover {
  background-color: rgba(160, 40, 0, 0.9);
}

.colors.action.alternative {
  background-color: rgba(0, 0, 0, 0.6);
}

.colors.action.alternative:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.colors.work {
  background-color: rgba(0, 50, 100, 0.15);
}

.colors.work.started {
  background-color: rgba(0, 50, 100, 0.1);
}

.colors.work.completed {
  background-color: rgba(0, 50, 100, 0.05);
}
